@import "tailwindcss";

.font-inter {
  font-family: var(--font-inter);
}

.font-cinzel {
  font-family: var(--font-cinzel);
}

.font-raleway {
  font-family: var(--font-raleway);
}

.swiper-slide-thumb-active {
  border: 4px solid rgb(29, 29, 29);
  padding: 2px;
  transition: all ease 0.3s;
}
